<h1>コメント一覧</h1>
<% @comments.each do |comment| %>
  <% if comment.title.present? %>
    <p>タイトル：<%= comment.title %></p>
  <% else %>
    <p>タイトル：無題</p>
  <% end %>
  <p>From：<%= comment.user.name %></p>
<%# <% binding.pry %>
  <%= link_to "コメント詳細", post_comment_path(comment.post.id, comment.id) %>
  <hr>
<% end %>

<%= link_to "戻る", :back %>
