<h3>コメント一覧</h3>
<div class="d-flex justify-content-center">
  <%= link_to "この記事にコメントする", new_post_comment_path(@post), class:"btn comment-index-btn-left btn-success" %>
  <%= link_to "レシピ詳細へ戻る", "/posts/#{@post.id}", class:"btn comment-index-btn-right btn-info" %>
</div>
<hr>

<div class="container align-items-center w-75">
<%# <div class="row"> %>
  <%= render partial: "comment", collection: @comments %>
</div>



