<div class="comments-bar">
  <%= paginate @comments %>

  <div class="d-flex justify-content-center comment-btn-area mx-auto">
    <%= link_to "コメントする", new_post_comment_path(@post), class:"comment-index-btn-left btn-back" %>
    <%= link_to "レシピ詳細へ", "/posts/#{@post.id}", class:"comment-index-btn-right btn-back" %>
  </div>
</div>

<div class="comments-container">
  <h4>コメント一覧</h4>
  <div class="w-75 mx-auto">
    <%= render partial: "comment", collection: @comments %>
  </div>
</div>
