<h1>コメント一覧</h1>
<% @comments.each do |comment| %>
  <p>
    <%= comment.title %>
    From:<%= comment.user.name %>
    <%= link_to "確認", post_comments_path %>
  </p>
<% end %>

<%= link_to "戻る", :back %>
