
<%= render "layouts/logo_serch_area" %>

<div class="paginate-bar">
  <%= paginate @posts %>
</div>


<h4 class="pt-4">レシピ一覧（<%= index_title(params[:genre]) %>）</h4>

<div class="row d-flex align-items-center">
  <%= render partial: "post", collection: @posts %>
</div>  
