/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

 .base-container {
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 90px;
}

.mw-sm {
  max-width: 576px;
}

.mw-md {
  max-width: 768px;
}

.mw-lg {
  max-width: 992px;
}

.mw-xl {
  max-width: 1200px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

body {
  padding-top: 40px;
  background-color: ivory
}

.flash-msg {
  margin-bottom: 0;
}

.navbar-brand {
  height: 100px;
}

.nav-item {
  font-family: sans-serif;
}

.navbar-top {
  z-index: 20;
}

.pagination>li>a{
  background-color: ivory;
  border-radius: 15px;
  border: none;
  color: rgb(42, 42, 141);
}
.page-item:first-child .page-link {
  border-radius: 15px;
}
.page-item:last-child .page-link {
  border-radius: 15px;
}
.page-item.active .page-link {
  background-color: rgb(42, 42, 141);
}

.footer {
  text-align: center;
  width: 100%;
  // padding: 10px 0;
  color: white;
  background-color: midnightblue;
  p {
    padding: 10px 0;
    margin-bottom: 0;
  }
}