h3 {
  padding: 10px 0;
  text-align: center;
}

textarea {
  height: 10em;
  line-height: 1.5em;
}

.newpost-area {
  width: 80%;
}

.newpost-col {
  font-size: 18px;
}

.card-base{
  margin: 15px 0 15px 0;
}
.card {
  max-width: 380px;
  height: 500px;
}

.card-title {
  color: coral;
  font-weight: bold;
  border-bottom: solid 1px black;
  padding: 15px 15px;
}

.img-area {
  position: relative;
}
.img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.img-text {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: rgba(0,0,0,.5);
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000,
              -1px 1px 0 #000, 1px -1px 0 #000;
}

.video-text {
  width: 100%;
  max-width: 500px;
}

.card-bot {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-text {
  padding: 0 15px;
}

.recipe-btn {
  width: 45%;
  margin: auto 10px 0 10px;
}

.recipe-base {
  width: 90%;
  min-width: 300px;
  max-width: 800px;
  background-color: white;
  border: 1px solid;
  border-color: chocolate;
  border-radius: 8px;
}

.video-area {
  position: relative;
  display: flex;
  min-width: 300px;
  max-width: 500px;
  height: 500px;
  justify-content: center;
}

.video-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.show-like-btn-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.btn-area {
  width: 100%;
  display: flex;
  // justify-content: center;
  margin: auto 0 15px 0;
}

.show-btn-area {
  display: flex;
  width: 50%;
}
.show-btn {
  // display: flex;
  // width: 50%;
  // padding: 0 15px 0 30px;
  margin: 0 10px 0 20px;
  text-align: center;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: olivedrab;
  border-left: solid 8px darkgreen;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.show-btn:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.show-btn:hover {
  color: palegoldenrod
}

.like-btn-area {
  display: flex;
  width: 50%;
}
.like-btn {
  // display: flex;
  // width: 50%;
  // padding: 0 30px 0 15px;
  margin: 0 20px 0 10px;
  text-align: center;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: firebrick;
  border-left: solid 8px #ff7c5c;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.like-btn:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.like-btn:hover {
  color: palegoldenrod;
}

.edit-btn {
  margin: 20px 20px 20px 20px;
  text-align: center;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: olivedrab;
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.edit-btn:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.edit-btn:hover {
  color: palegoldenrod;
}
.caption-area {
  margin-top: 10px;
}

.caption {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.show-content {
  margin-top: 0;
  padding-left: 20px;
}

.recipe-title-area {
  font-weight: bold;
  font-size: 24px;
  color: coral;
  padding: 10px;
  width: 300px;
}

.recipe-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 15px;
}

.show-head {
  display: flex;
}

.show-top-left {
  margin: 0 15px;
  width: 50%;
}

.show-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

nav ul{
  justify-content: center;
}

.btn-postupdate {
  margin-top: 10px;
  color: #FFF;
  background: peru;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  border: solid 2px brown;
}
.btn-postupdate:hover {
  color: blanchedalmond;
}

.cansel-btn-area {
  display: flex;
}
.cansel-btn {
  text-align: center;
  margin: 20px 0;
  color: #FFF;
  background: darkgray;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  border: solid 2px lightslategrey
}
.cansel-btn:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.cansel-btn:hover {
  text-decoration: none;
  color: blanchedalmond;
}
