h3 {
  padding-top: 10px;
  text-align: center;
}

.card-base{
  margin: 15px 0 15px 0;
}
.card {
  max-width: 380px;
  height: 450px;
}

.img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.btn-area {
  width: 100%;
}

.recipe-btn {
  width: 40%;
  margin: 0 10px 0 10px;
}

.recipe-base {
  width: 90%;
  background-color: white;
  border: 1px solid;
  border-color: chocolate;
  border-radius: 8px;
}

.show-head-right div {
  margin-top: 10px;
}

.title-area {
  width: 100%;
  display: flex;
}

.show-like-btn {
margin: auto 10px auto auto;
}

.caption {
  font-size: 16px;
  font-weight: 600;
}

.recipe-title {
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-size: 24px;
  color: coral;
}

.show-head {
  display: flex;
}

.show-top-left {
  width: 50%;
  margin: 0 10px 0 10px;
}

.show-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.show-head-right {
  margin: 0 10px 0 10px;
}

.show-recipe {
  margin: 20px 0 0 15px;
}

.show-video {
  margin: 20px 0 0 15px;
}