<% flash.each do |flash_type, msg| %>
  <div class="alert alert-<%= flash_type %> mb-0 rounded-0" role="alert">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <p class="mb-0"><%= msg %></p>
  </div>
<% end %>